.authenticated-container {
  position: relative;
  display: flex;
  align-items: center;
}

.playerName {
  cursor: pointer;
  color: #ccccccbb;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.playerName:hover {
  color: #ccc; /* Change to desired hover color */
}

.playerName.active {
  color: white;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.dropdown a {
  padding: 5px 0;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  text-decoration: underline;
}
