.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  height: 100vh; /* Ensure the body takes full viewport height */
}

header {
  height: 80px;
  background-color: rgb(8, 22, 127);
  flex-shrink: 0; /* Prevent header from shrinking */
  font-size: 18px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #045;
  overflow-y: auto; /* Allow vertical scrolling if necessary */
}

footer {
  height: 30px;
  background-color: rgb(8, 22, 127);
  flex-shrink: 0; /* Prevent footer from shrinking */
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important; /* Overwrite Bootstrap so the menu does not wrap */
  list-style: none;
}

.navbar-brand {
  padding-left: 0.7em;
}

img {
  width: 100%;
  max-width: 70px;
  height: auto;
}

menu .nav-item {
  padding: 0 1em;
}

#login-id {
  margin-left: auto;
  padding: 0 4em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  main {
      flex: 1 100vh;
  }
}
